# ---- Python ----
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# ---- Jupyter ----
.ipynb_checkpoints/

# ---- Virtual Environment ----
venv/
env/
.venv/

# ---- Checkpoints ----
checkpoints/
*.pt
*.pth


# ---- System ----
.DS_Store
Thumbs.db

# ---- Streamlit ----
.streamlit/
